body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

hr {
	margin: 0;
}

#about {
	height: 100vh;
	padding-top: 25vh;
}

#typed, .typed-cursor {
	font-size: 40px;
}

#typed-container {
	height: 150px;
	max-height: 150px;
}

.highlight {
	color: #007bff;
	font-weight: bold;
}

.btn-light {
	border-color: #212529;
	background-color: #ffffff;
}

.btn-light:hover,
.btn-light:active,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:focus {
	border-color: #212529;
	background-color: rgba(0,0,0,.03);
}

.card-body p {
	margin-bottom: 0.5rem;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
}

.nav-pills .nav-link {
	color: #000000;
	border-radius: 0;
	padding: 0.25rem 0;
  margin: 0 0.75rem;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	color: #000000;
	cursor: default;
	background-color: transparent;
	border-top: 2px solid transparent;
	border-bottom: 2px solid black;
}

#navbar-target {
	background-color: rgba(255, 255, 255, 0.85);
	overflow: auto;
	padding: 5px;
	z-index: 1061;
}

.nav {
	flex-wrap: nowrap;
}

.rk-logo {
	height: 40px;
}

.footer-icon, .footer-icon:hover {
	margin: 5px;
}

.footer-icon.github {
	color: #000000;	
}

.footer-icon.linkedin {
	color: #0077b5;
}

.footer-icon.email {
	color: darkred;
}

.footer-offset {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 100px;
}

.section-offset {
	opacity: 0;
	padding-top: 111px;
}

@media (max-width: 320px) {
	#typed-container {
		height: 180px;
		max-height: 180px;
	}
	#about {
		padding-top: 20vh;
	}
}
@media (min-width: 576px) {
	#typed, .typed-cursor {
		font-size: 50px;
	}
}
@media (min-width: 768px) {
	#about {
		padding-top: 33vh;
	}
	.section-offset {
		padding-top: 150px;
	}
	.sticky-h4 {
		position: sticky;
		top: 100px;
	}
}

/* 404 Page */
.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
 }

.content-404 {
	display: none;
}

.wobble-logo {
	width: 70px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
	16.65% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
	33.3% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	49.95% {
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);
	}
	66.6% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	83.25% {
	  -webkit-transform: translateY(1px);
	  transform: translateY(1px);
	}
	100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
}
@keyframes hvr-wobble-vertical {
	16.65% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
	33.3% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	49.95% {
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);
	}
	66.6% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	83.25% {
	  -webkit-transform: translateY(1px);
	  transform: translateY(1px);
	}
	100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
}
.hvr-wobble-vertical {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active, .wobble-onload {
	-webkit-animation-name: hvr-wobble-vertical;
	animation-name: hvr-wobble-vertical;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}