<div class="container mx-auto p-8 sm:p-16">
  <app-theme-toggle-switch></app-theme-toggle-switch>
  <div class="rk-logo mb-16"></div>
  <div class="mb-16">
    <h1>Ryan Keng</h1>
    <p>Software Engineer</p>
    <p>Taipei, Taiwan</p>
  </div>
  <div class="mb-16">
    <p>Logic Solutions</p>
    <p>Front-End Web Developer</p>
    <p>Jan 2020 - Present</p>
  </div>
  <div>
    <a href="https://github.com/rkeng" class="inline">GitHub</a><br>
    <a href="https://www.linkedin.com/in/ryan-keng" class="inline">LinkedIn</a>
  </div>
</div>